@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&family=Poppins:wght@200;300;400;600&family=Quicksand:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");

/* base rule  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  scroll-snap-type: Y proximity;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  line-height: 1.5;
}
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}
.name{
  background-color: white;
  font-size: 0px;
}

button{
  width: 20%;
  color: lightseagreen;
  padding: 5px 15px 5px  10px;
  border: none;
  outline:none;
  border: 2px solid lightseagreen;
  border-radius: 10px;
  cursor:pointer;
  align-items: center;
  display: inline-flex; 
  justify-content: center;
  gap:.5rem;
  transition: 0.5s;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(
      to top right,
      #3d86fa,
      #4484fb,
      #679eff,
      #b3d2ff,
      #ebf3fe
    ); 
    
}

.container {
  width: 80%;
  max-width: 540px;
  min-height:350px;
  margin-top: 1rem;
  background-color: white;
  box-shadow: rgba(34, 38, 41, 0.3) 0px 1px 2px 0px,    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem 3rem 0 3rem;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
}

.section-header{
    color:lightseagreen;
    display: flex;
    align-items: center;
    font-weight:bold;
    margin-bottom: 1rem;
    gap: 1.2rem;
    cursor:pointer;
    & h2{
      font-size: 18px;
    }
}

.section-header img{
    margin-left:5px;
    width:12%;
}

.section-add--task{
    width:100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    

    & #input-box{

        width: 100%;
        height: auto;
        padding-left: 10px;
        border: 2px solid lightseagreen;
        border-radius: 10px;
        outline: none;
        background: transparent;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
 & input:focus::placeholder {
  color: transparent;
}

}

.section-filter{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 10px;
  
    border-bottom: 2px solid lightskyblue;

    & #filter{
      width:15rem;
      height:auto;
      color: lightseagreen;
      padding: 6px 20px 6px 20px;
      border: 2px solid lightseagreen;
      border-radius: 10px;
      cursor:pointer;
      outline: none;
      align-items: center;
      display: inline-flex;
      justify-content: space-between;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
 & button{
  width:auto;
 padding: 8px 30px 8px 20px;
 gap: 1rem;
 }
}

.section-list{
  width:100%;
  min-height: 200px;
  padding:0 0 0 0px;
  /* background-color: aqua; */
  & ul{
    height:200px;
    overflow: auto;

    overflow-y: auto;
  }

  & ul li{
    list-style:none;
    font-size:15px;
    padding: 10px 5px 10px 30px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center; 
    color:lightseagreen;
    margin-top: 5px;
    
    
}
 & ul li::before{
    content: '';
    position: absolute;
    
    background-image: url(images/unchecked.png);
    height: 18px;
    width: 18px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    top: 12px;
    left: 4px;
    
}

 & ul li.checked{
    
    text-decoration: line-through;
}
 & ul li.checked::before{
    background-image: url(images/checked.png);
    background-color: limegreen;
    color:white;
    background-blend-mode: overlay;
    
    
    
}

& ul li span{

  position: absolute;
  right: 0.5px;
  background-size: cover;    
  width:12%;
  height: fit-content;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}
 & ul li span:hover{
  background: lightseagreen;
  color: black;
  height: fit-content;
  box-shadow: 4px 0px 16px 4px lightseagreen;
  
}
}

.dropdown{
  position: relative;
  display: inline-block;
  font-size: 1rem;
  
  

}

.foot{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  color: lightseagreen;
  border-top: 2px solid lightskyblue;
}
.text.single-line {
 overflow-wrap: anywhere;
 padding-right: 35px;
}
/***** scrollbar Section *****/

/* width */
ul::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
ul::-webkit-scrollbar-track {
  background: var(--supporting-color);
}

/* Handle */
ul::-webkit-scrollbar-thumb {
  background:lightskyblue;
  border-radius: 50px;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
  background: lightseagreen ;
}

/***** End scrollbar Section *****/

/***** Media Queries *****/ 
@media (width <= 1120px){
  
  
}

@media(width <=1074px){
  
}

@media(width <=945px){
  
}
@media(width <=835px){
  html{
    font-size: 58%;
  }
}

@media(width <=498px){
  .foot{
    display:grid;
    padding:10px 0 20px 0;
  }

  .section-add--task{
    margin-bottom:12px;
  }
  .section-list{
    & ul li::before{
      top: 10px;
      
  }
  
  }
}

@media(width<=410px){
  html{
    font-size: 50%;
  }
  button{
    padding: 5px 10px 5px  8px;
    gap:.2rem;
  }
  .section-filter{
    & #filter{
      padding: 7px 10px 7px 15px;
    }
    & button{
      padding:8px 10px 8px 15px ;
    }
  }
  
}

@media(width <=375px){
  html{
    font-size: 50%;
  }
  button{
    padding: 5px 8px 5px  6px;
    gap: 0.1rem;
    font-size: 1.5rem;
  }
  .section-filter{
    & #filter{
      padding: 5px 4px 5px 12px;
      font-size: 1.5rem;
      
    }
    
    & button{
      padding:6px 4px 6px 8px ;
    }
  }
}
 /***** End Media Queries *****/



  



